[user]
	email = colorbox222@gmail.com
	name = colorbox

[alias]
	ad = add
	co = checkout
	ps = push
	br = branch
	brd = branch -d
	bra = branch -a
	brm = branch -m
	cob = checkout -b
	rss = reset --soft
	cm = commit
	cma = commit --amend

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[core]
  excludesfile = ~/.gitignore
