[user]
	email = colorbox222@gmail.com
	name = colorbox

[alias]
	ad = add
	co = checkout
	ps = push
	psf = push -f
	br = branch
	brd = branch -d
	brD = branch -D
	bra = branch -a
	brm = branch -m
	cob = checkout -b
	rss = reset --soft
	rsH = reset --hard
	cm = commit
	cma = commit --amend
	cmam = commit --amend -m
	bl = blame
	pl = pull
	wip = commit -m 'wip' --allow-empty
	upfront = commit -m 'Update frontend'
	upcommon = commit -m 'Update common'
	clear-cache = commit -m '[CLEAR CACHE]' --allow-empty
	police = commit -m ':policeman:'
	policegun = commit -m ':policeman::gun:'
	lip = commit -m ':lipstick:'
	st = stash
	stl = stash list
	stp = stash pop
	std = stash drop
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[core]
  excludesfile = ~/.gitignore
